.container {
  width: 100vw;
  margin: 0;
  padding: 0 36px 0 0; /* 20px on the right */
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard */
}

  
  .itemsGrid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    padding: 0 10px;
  }
  