.container {
  width: 100vw;
  margin: 0;
  padding: 0 36px 0 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  /* Margin to offset fixed Navbar (60px) and Subnavbar (50px) */
  margin-top: 170px;
}

.itemsGrid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 100%;
  padding: 0 10px;
}
