.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px 5px 35px;
  background-color: #fff;
  font-family: sans-serif;
  
  /* Fixed at top */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  color: #00c28e;
  font-weight: bold;
  font-size: 2.5rem;
  cursor: pointer;
}

.logo:hover {
  color: #00b17f;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 500px;
  max-width: 800px;
  background-color: #F5F5F5;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.searchContainer:hover,
.searchContainer:focus-within {
  background-color: #fff;
}

.searchIcon {
  position: absolute;
  left: 10px;
  color: black;
  font-size: 1.2rem;
}

.clearIcon {
  position: absolute;
  right: 10px;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.searchInput {
  width: 100%;
  padding: 1rem 3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.2rem;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.loginBtn,
.signupBtn {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.loginBtn {
  background-color: transparent;
  color: #333;
  width: 90px;
  height: 55px;
}

.loginBtn:hover {
  background-color: #f2f2f2;
}

.signupBtn {
  background-color: #00c28e;
  color: #fff;
  width: 100px;
  height: 55px;
}

.signupBtn:hover {
  background-color: #00b17f;
}
