.container {
  padding: 16px;
}

.itemsGrid {
  display: grid;
  /* Adjust the grid settings as needed */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

/* The sentinel element; a small area that triggers the loading of more cards */
.sentinel {
  height: 20px;
}
