.cardContainer {
    display: flex;
    flex-direction: column;
  }
  
  /* Override any default margin on the FlaggedCard components so they stack with no space */
  .cardContainer > * {
    margin-bottom: 20px !important;
  }
  