/*******************************
  Page Container
*******************************/
.container {
  max-width: 1700px;            /* Limit container width */
  margin: 0 auto;               /* Center the container horizontally */
  padding: 64px 60px 18px;       /* Top, horizontal, and bottom padding */
  box-sizing: border-box;
  background-color: var(--white);
  font-family: var(--font-sans);
  color: var(--text-dark);
  
}

/*******************************
  Top Section (Stat Cards)
*******************************/
.topSection {
  display: flex;
  flex-wrap: nowrap;            /* Force all cards to be on one line */
  gap: 1rem;
  margin-bottom: 1.5rem;
}

/* Ensure each card takes equal space */
.topSection > * {
  flex: 1;
}
