.outerContainer {
  position: relative;
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 60px;
}

.infoContainer {
  position: absolute;
  top: -10px;
  left: 20px;
  z-index: 100;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.bigNumber {
  font-size: 48px;
  font-weight: 600;
  display: block;
}

.forecastText {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-top: 0px;
  display: block;
}

.deltaPositive {
  font-size: 20px;
  color: #00c28e;
  margin-top: 0px;
  display: block;
}

.deltaNegative {
  font-size: 20px;
  color: #dc3545;
  margin-top: 0px;
  display: block;
}

.chartContainer {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverLine {
  position: absolute;
  pointer-events: none;
  border-left: 1px solid gray;
  z-index: 5;
  display: none;
}

.hoverLabel {
  position: absolute;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5px 4px;
  font-size: 18px;
  transform: translateX(-50%);
  z-index: 10;
  display: none;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.intervalOptions {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.intervalButton {
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 5px;
  color: #00c28e;
  transition: background 0.2s, color 0.2s;
}

.intervalButton:hover {
  background: #f0f0f0;
}

.activeInterval {
  background-color: #00c28e;
  border-color: #00c28e;
  color: black;
  font-weight: 600;
}

.activeInterval:hover {
  background-color: #00c28e;
  color: black;
}
